<!DOCTYPE html>
<html>

<head>
	<title>Reed</title>
	<link rel="icon" href="img/icon144.png">
	<link rel="stylesheet" type="text/css" href="../profile.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	<style>
		body {
			overflow-x: hidden;
		}
		.dot {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			box-shadow: 0px 0px 30px yellow;
			background: radial-gradient(circle,red, orange, yellow, white);
			opacity: 0.4;
			position: absolute;
			pointer-events: none;
		}
	</style>
</head>

<body>

	<nav id="nav">
		<div class="menuWrapper">
			<a id="navLink" href="/">HOME</a>
			<div class="separator"></div>
			<a id="navLink" href="/explore">EXPLORE</a>
			<div class="registerButton">
				<a href="../form.html">SIGN UP</a>
			</div>
		</div>
	</nav>

	<div class="bg">
		<div class="orgNameWrapper">
			<p class="orgName">
				<%= data[0].name %>
			</p>
			<p class="orgSmallName">One Book One Future</p>
		</div>
	</div>

	<div class="profilePage">

		<div class="bio">
			<div class="imageBox" style="background-image: url('<%= data[0].image %>')"></div>
			<div class="bioBox">
				<p>
					<span><%= data[0].name %></span>
					<%= data[0].notes %>
				</p>
				<hr>
				<div class="bioMenuWrapper">
					<div class="bioInfo">
						<div class="leftInfo">
							<p>BOOKS DONATED</p>
						</div>
						<div class="rightInfo">
							<p>26</p>
						</div>
					</div>
					<div class="bioInfo">
						<div class="leftInfo">
							<p>BOOKS OWNED</p>
						</div>
						<div class="rightInfo">
							<p>
								<%= data[0].owned %>
							</p>
						</div>
					</div>
					<div class="bioInfo">
						<div class="leftInfo">
							<p>TOTAL COLLECTION</p>
						</div>
						<div class="rightInfo">
							<p>91</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="horizontalBio">
			<div class="horContent">
				<div class="titleOrg">
					<p>One Book One Future</p>
				</div>
				<div class="horWrapper">
					<div class="horRight">
						<p>
							<%= data[0].location %>
						</p>
						<p>
							<%= data[0].phone %>
						</p>
					</div>
					<div class="horLeft">
						<a href="/explore/apply?id=<%= id %>">
							<img src="../img/plus2.png">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="testimoni">
			<div class="testimoniWrapper">
				<div class="imageTestimoni">
					<img src="../img/profile4.jpg">
				</div>
				<div class="textTestimoni">
					<p>Organisasi yang sangat terpercaya, struktur kepengurusan dan agenda organisasi sangat transparan. Two thumbs up! </p>
				</div>
			</div>
			<hr>
			<div class="testimoniWrapper">
				<div class="imageTestimoni">
					<img src="../img/profile.jpg">
				</div>
				<div class="textTestimoni">
					<p>Terimakasih atas kerjasamanya dalam mencerdaskan masyarakat Indonesia. Semoga dapat bekerjasama lagi dalam proyek-proyek lainnya.</p>
				</div>
			</div>
			<hr>
			<div class="testimoniWrapper">
				<div class="imageTestimoni">
					<img src="../img/profile3.jpg">
				</div>
				<div class="textTestimoni">
					<p>Recommended organization. Fast respond, cp-nya komunikatif, overall sangat bagus.  </p>
				</div>
			</div>
			<hr>
		</div>

	</div>

	<div class="section7">
		<div class="leftContact">
			<p>COPYRIGHT 2016 Jarminjingga</p>
		</div>
		<div class="rightContact">
			<p>Designed By Jarminjingga</p>
		</div>
	</div>
	<script>
	  (function() {
	    "use strict";

	    document.onmousemove = handleMouseMove;
	    function handleMouseMove(event) {
	      var dot, eventDoc, doc, body, pageX, pageY;

	      event = event || window.event; // IE-ism

	      // If pageX/Y aren't available and clientX/Y
	      // are, calculate pageX/Y - logic taken from jQuery
				// Calculate pageX/Y if missing and clientX/Y available
	      if (event.pageX == null && event.clientX != null) {
	        eventDoc = (event.target && event.target.ownerDocument) || document;
	        doc = eventDoc.documentElement;
	        body = eventDoc.body;

	        event.pageX = event.clientX +
	          (doc && doc.scrollLeft || body && body.scrollLeft || 0) -
	          (doc && doc.clientLeft || body && body.clientLeft || 0);
	        event.pageY = event.clientY +
	          (doc && doc.scrollTop  || body && body.scrollTop  || 0) -
	          (doc && doc.clientTop  || body && body.clientTop  || 0 );
	      }

	      // Add a dot to follow the cursor
	      dot = document.createElement('div');
	      dot.className = "dot";
	      dot.style.left = event.pageX + "px";
	      dot.style.top = event.pageY + "px";
	      document.body.appendChild(dot);
	    }
	  })();
	 </script>

	<script type="text/javascript">
		window.onscroll = function() {

			console.log(window.pageYOffset);

			var nav = document.getElementById('nav');
			//var navLink = document.getElementById('navLink');

			if (window.pageYOffset > 50) {
				nav.classList.add("navbarWhite");
				//navLink.classList.add("navLinkBlack");
			} else {
				nav.classList.remove("navbarWhite");
				//navLink.classList.remove("navLinkBlack");
			}
		}

		/*-----------------------------------------------------------*/
	</script>

</body>

</html>
